body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app-main {
  height: 100vh;
  align-content: center;
  padding: 20px;
}

.text-field {
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown {
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.submit-button {
  margin-right: 5px;
  margin-left: 5px;
}
